If:
  PathMatch: .*\.hpp
CompileFlags:
  Add: -Wno-unused-function
---
Diagnostics:
  ClangTidy:
    Add: 
      - cppcoreguidelines*
      - misc*
      - performance*
      - readability*
      - bugprone*
    Remove:
      - readability*
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - misc-no-recursion